<body>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="top-panel">
        <form class="form-inline" (ngSubmit)="toggleACD()">
          <div class="form-group">
            <label for="state">ACD Status</label>
            <input type="text" class="form-control" [(ngModel)]='ACDstate' name="ACDstate" readonly>
          </div>
          <button type="submit" class="btn btn-default">{{ACDtoggle}}</button>
        </form>
        <form class="form-inline">
          <div class="form-group">
            <label for="state">Number</label>
            <input type="text" class="form-control" name="dialNumber" [(ngModel)]="dialNumber">
          </div>
          <button class="btn btn-default" target="_self" (click)="dial()">Dial</button>
          <button class="btn btn-default" (click)="hangup()">Hangup</button>
        </form>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">Websocket Stream</div>
          <div class="col-md-6">Agents live statuses</div>
        </div>
        <div class="row">
          <div class="col-md-6"><textarea cols="60" rows="15" name="stream" [(ngModel)]='stream'>{{stream}}</textarea>
          </div>
          <div class="col-md-6"><textarea cols="60" rows="15" name="status" [(ngModel)]='status'>{{status}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
  <hr>
</footer>